.navbar {
  background: -webkit-linear-gradient(left, #3b679e 0%, #2b88d9 50%, #207cca 51%, #7db9e8 100%);
}

.menu {
  padding-top: 6rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #2a93d5;
}

#about {
  padding-top: 6rem;
}

i {
  font-size: 8rem;
}
